<span class='flex flex-col'><br/>
    <span class='flex justify-around self-center border-4 border-solid border-black w-1/2'>

        <a class='hover:text-slate-300 focus:animate-ping' href='/notes'>
            Notes
        </a>
        <a class='hover:text-slate-300 focus:animate-ping' href="/calendar">
            <div>Calendar</div>
        </a>
        <a class='hover:text-slate-300 focus:animate-ping' href="/contacts">
            <div>Contacts</div>
        </a>

        <a class='hover:text-slate-300 focus:animate-ping' href="/todo">

            <div>Todo</div>
        </a>
    </span>
</span>
<br/>
<p class='text-center text-6xl mb-16'>Notes</p>


<div class="container-fluid my-3 text-center place-content-center">
    <div class="card">
        <div class="card-body flex flex-col place-content-center">

            <div class=" flex flex-col place-content-center">
               <input class="self-center  border-solid border-2 border-black" id="noteTitle" rows="3"
                    placeholder='Note Title' />
                <textarea class="self-center my-2 w-1/2 border-solid border-2 border-black" placeholder='Note contents...' rows='5' id="noteBody"></textarea></center>
            </div>
            <button
                class="btn btn-primary self-center  px-2 rounded-lg bg-blue-300 border-black border-4 border-double hover:bg-blue-500 hover:border-solid hover:border-4"
                id="noteBtn">
                Add Note
            </button><br/>
        </div>
    </div>
    </span>
    <hr>
    <h1 class='text-4xl py-4'>Your Notes</h1>
    <hr>

    <div id="notes" class="container-fluid flex flex-wrap justify-around">

        {{#each users.notes as |note|}}
        <span class='p-8 border-2 m-4 w-1/4 border-solid border-black bg-zinc-100'>
            <p class='text-center text-2xl'>{{note.title}}</p>
            <p class='text-center'>{{note.content}}</p>
            <span class='flex justify-around'>
                <button
                    class='btn updateBtn btn-primary px-2 rounded-lg bg-blue-300 border-black border-4 border-double hover:bg-blue-500 hover:border-solid hover:border-4'
                    data-id='{{note.id}}'>Update</button>
                <button
                    class='btn deleteNote btn-primary px-2 rounded-lg bg-blue-300 border-black border-4 border-double hover:bg-blue-500 hover:border-solid hover:border-4'
                    data-id='{{note.id}}'>
                    Delete</button>
            </span>

            <ul class='text-center'>Created at: {{format_date note.createdAt}}</ul>

            <ul class='text-center text-xs'>Last Update: {{format_date note.updatedAt}}</ul>
        </span>
        {{/each}}

    </div>
</div>


{{#each users.notes as |notes|}}
<div id="updateNoteModal{{notes.id}}" class="modal  closeModal">
    <div class="modal-content">
        <div class=' border-black border-2 border-solid bg-zinc-100 '>
            <h2>Update Note</h2>
            <form class="form update-note-form m-4 border-black border-2 bg-zinc-50 border-solid"
                id="update-contact-form">
                <div class="form-group m-2">
                    <label for="noteTitleUpdate">Title Update</label>
                    <input value="{{notes.title}}" class="form-input border-2 border-solid border-black" type="text"
                        id="noteTitleUpdate{{notes.id}}" />
                </div>
                <div class="form-group m-2">
                    <label for="noteContentUpdate">Note Content</label>
                    <input value="{{notes.content}}"class="form-input border-2 border-solid border-black" type="text"
                        id="noteContentUpdate{{notes.id}}" />
                </div>
            </form>
            <button
                class="btn updateNoteBtn btn-primary px-2 rounded-lg bg-blue-300 border-black border-4 border-double hover:bg-blue-500 hover:border-solid hover:border-4"
                id={{notes.id}} data-id="{{notes.id}}" type="submit">Update Note</button> <button
                class="btn btn-primary px-2 rounded-lg bg-blue-300 border-black border-4 border-double hover:bg-blue-500 hover:border-solid hover:border-4 close">Cancel
                </span>
        </div>

    </div>

</div>
{{/each}}