<span class='flex flex-col'>
  <span class='flex justify-around self-center border-4 border-solid border-black w-1/2'>

    <a class='hover:text-slate-300 focus:animate-ping' href='/notes'>
      Notes
    </a>
    <a class='hover:text-slate-300 focus:animate-ping' href="/calendar">
      <div>Calendar</div>
    </a>
    <a class='hover:text-slate-300 focus:animate-ping' href="/contacts">
      <div>Contacts</div>
    </a>

    <a class='hover:text-slate-300 focus:animate-ping' href="/toDo">

      <div>To DOs!</div>
    </a>
  </span>
</span>
<section class=content>
  <a href="/todo">
    <header>To Do List</header>
  </a>
</section>

<div id="myDIV" class="header">
  <h2>My To Do List</h2>
  <input type="text" id="todoTitle" placeholder="Title...">
  <button id="todoBtn" class="addBtn">Add</button>
</div>

<ul id="myList">

</ul>

<div id="todos" class="container flex flex-wrap justify-around">

  {{#each todos}}
  <div
    class='p-8 border-2 m-4 w-1/4 border-solid border-black bg-zinc-100 '>
    <div class='text-center text-2xl container-fluid flex justify-between'>{{name}}<button class="expand-one" data-id="{{id}}" data-tooltip="Collapse this list"><img src="./images/collapse.png"></button>
   </div><br/><br/>
<ul>

    {{#each this.todoItems}}
      <li><div class="container-fluid flex justify-between px-3 py-1 content{{this.todo_id}}" id="todoContent"><button>{{this.name}}</button><button id="todoItemDelete{{this.todo_id}}" class="itemDelete" data-id="{{this.todo_id}}" class="deleteItemBtn" data-tooltip="Clear this task"><img
          src="./images/xbox.png"></button></div></li>
      {{/each}}
      </ul>
      <center><br /><br /><div class="container-fluid flex justify-around"><button id="todoItemBtn" data-id="{{this.id}}"
          class="addItemBtn" data-tooltip="Add new item to this list.."><img src="./images/plus.png"></button><button class="deletelist" data-id="{{id}}" data-tooltip="Delete this list"><img src="./images/delete.png"></button></div>
      </center>
    
  </div>
  {{/each}}


  <script src="/js/toDo.js"></script>